@media (max-width: 320px) {
	#toggle {
		visibility: visible;
		opacity: 1;
		margin-top: 6px;
		margin-right: 3px;
	}

	.span {
		font-size: 1.5rem;
	}

	#menu a {
		font-size: 3rem;
		font-weight: 300;
	}

	#resize {
		width: 100vw;
	}

	#resize li span {
		font-weight: bolder;
	}

	nav #menu {
		display: none;
	}

	.logo__home {
		background-size: 80vw;
	}

	.logo::after {
		background-size: 80vw;
	}

	iframe {
		width: 80vw;
		height: 100%;
	}

	.news__wrapper {
		width: 100vw;
		margin: 0 auto;
	}

	.news {
		width: 100vw;
		margin-bottom: 20px;
	}

	.news__first {
		width: 100vw;
	}

	.news__second {
		width: 100vw;
	}

	.news__title {
		margin-top: 15px;
		font-size: 1.4rem;
		font-weight: 300;
	}

	.news__date {
		font-size: 1.2rem;
		font-weight: 300;
	}

	.about__title {
		font-size: 2rem;
	}

	.about__text {
		font-size: 1rem;
		line-height: 2.5rem;
	}

	.mail {
		padding: 0 20px;
	}

	.mail h6 {
		font-size: 2rem;
		margin-top: 3rem;
	}

	.mail p {
		font-size: 1.4rem;
	}

	.media ul {
		right: 2%;
	}
}

@media (min-width: 320px) and (max-width: 425px) {
	#toggle {
		visibility: visible;
		opacity: 1;
		margin-top: 6px;
		margin-right: 3px;
	}

	.span {
		font-size: 1.5rem;
	}

	#menu a {
		font-size: 3rem;
		font-weight: 300;
	}

	#resize {
		width: 100vw;
	}

	#resize li span {
		font-weight: bolder;
	}

	nav #menu {
		display: none;
	}

	.logo__home {
		background-size: 80vw;
	}

	.logo::after {
		background-size: 80vw;
	}

	iframe {
		width: 80vw;
		height: 100%;
	}

	.news__wrapper {
		width: 100vw;
		margin: 0 auto;
	}

	.news {
		width: 100vw;
		margin-bottom: 20px;
	}

	.news__first {
		width: 100vw;
	}

	.news__second {
		width: 100vw;
	}

	.news__title {
		margin-top: 15px;
		font-size: 1.4rem;
		font-weight: 300;
	}

	.news__date {
		font-size: 1.2rem;
		font-weight: 300;
	}

	.about__title {
		font-size: 2rem;
	}

	.about__text {
		font-size: 1rem;
		line-height: 2.5rem;
	}

	.mail {
		padding: 0 20px;
	}

	.mail h6 {
		font-size: 2rem;
		margin-top: 3rem;
	}

	.mail p {
		font-size: 1.4rem;
	}

	.media ul {
		right: 2%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	#toggle {
		visibility: visible;
		opacity: 1;
		margin-top: 6px;
		margin-right: 3px;
	}

	nav #brand {
		margin-left: 24px;
	}

	#menu a {
		font-size: 20px;
		font-weight: 300;
	}

	#resize {
		width: 100vw;
	}

	#resize li span {
		font-weight: bolder;
	}

	nav #menu {
		display: none;
	}

	.header h1 {
		font-size: 30px;
	}

	.project {
		width: 90vw !important;
		margin: 14px auto;
	}

	.project1::after {
		top: 60%;
		left: 1%;
	}

	.project2::after {
		top: 80%;
		left: 55%;
	}

	.project3::after {
		top: 80%;
		left: 1%;
	}

	.project4::after {
		top: 10%;
		left: 60%;
	}

	.collab,
	#personal,
	#media,
	#address {
		text-align: center;
	}

	.info ul {
		margin: 0 0 0 -22px;
		padding: 0;
	}

	.hero-content {
		padding-top: 50px;
		width: 96%;
		margin: 0 auto;
	}

	#contact-form {
		margin: 5% -8%;
		width: 98%;
	}
}

/*@media(min-width: 768px) {

  #resize {
    visibility: hidden !important;
  }
}*/
